<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.mapper.RegistMapper">
	<select id="getDeptType"  resultType="com.neuedu.po.ConstantitemPO">
	select 
		ID,
        ConstantTypeID,
        ConstantCode,
        ConstantName,
        DelMark
	FROM constantitem
	WHERE 
		ConstantTypeID = 1
		AND DelMark = 1
	</select>
	
	<select id="getDeptTypeClass" parameterType="int" resultType="com.neuedu.po.DepartmentPO">
	SELECT  ID,
        DeptCode,
        DeptName,
        DeptCategoryID,
        DeptType,
        DelMark
	FROM department 
	WHERE DeptCategoryID = #{deptCategoryID}
	AND DelMark = 1;
	</select>
	
	<select id="getRegistType" resultType="com.neuedu.po.RegistLevelPO">
	select 
		ID,
        RegistCode,
        RegistName,
        SequenceNo,
        RegistFee,
        RegistQuota,
        DelMark
	FROM registlevel
	WHERE 
		DelMark = 1
	</select>
	<select id="getRegistFee" parameterType="int" resultType="int">
	SELECT registfee 
	FROM registlevel 
	WHERE 
		id = #{id} 
		AND DelMark = 1
	</select>
	<select id="selectDoc" resultType="com.neuedu.po.UserPO" parameterType="com.neuedu.vo.MakeRuleTableVO">
	SELECT
	u.ID,
	u.RealName
	FROM
	scheduling s
	LEFT JOIN department d ON (s.DeptID = d.ID)
	LEFT JOIN USER u ON (s.UserID = u.ID)
	WHERE
	SchedDate = #{SchedDate}
	AND Noon = #{Noon}
	AND u.RegistLeID = #{RegistLeID}
	AND d.ID = #{DeptID}
	AND s.DelMark =1
	AND u.DelMark =1
	</select>
	<insert id="insertRegist" parameterType="com.neuedu.po.RegisterPO">
		INSERT INTO register
            (CaseNumber,
             RealName,
             Gender,
             IDnumber,
             BirthDate,
             Age,
             AgeType,
             HomeAddress,
             VisitDate,
             Noon,
             DeptID,
             UserID,
             RegistLeID,
             SettleID,
             IsBook,
             RegistTime,
             RegisterID,
             VisitState)
		VALUES(
			#{CaseNumber},
	        #{RealName},
	        #{Gender},
	        #{IDnumber},
	        #{BirthDate},
	        #{Age},
	     	 '岁',
	        #{HomeAddress},
	        #{VisitDate},
	        #{Noon},
	        #{DeptID},
	        #{UserID},
	        #{RegistLeID},
	        51,
	        #{IsBook},
	        #{RegistTime},
	        #{RegisterID},
	        1);
	</insert>

	<!--  
	<resultMap type="com.neuedu.po.EmployeePO" id="emp_map">
		<id property="empid" column="empid"/>
		<result property="ename" column="ename"/>
		<result property="loginname" column="loginname"/>
		<result property="loginpass" column="loginpass"/>
		<result property="sex" column="sex"/>
		<result property="birthday" column="birthday"/>
		<result property="hiredate" column="hiredate"/>
		<result property="salary" column="salary"/>
		<result property="uflag" column="uflag"/>
		<result property="power" column="power"/>
		<association property="dept" javaType="com.neuedu.po.DepartmentPO">
			<id property="deptid" column="deptid"/>
			<result property="dname" column="dname"/>
			<result property="cdate" column="cdate"/>
			<result property="pnum" column="enums"/>
			<result property="dflag" column="dflag"/>
			<association property="manager" javaType="com.neuedu.po.EmployeePO">
				<id property="empid" column="empid"/>
				<result property="ename" column="mname"/>
			</association>
		</association>
		<association property="job" javaType="com.neuedu.po.JobPO">
			<id property="jobid" column="jobid"/>
			<result property="jname" column="jname"/>
			<result property="jlevel" column="jlevel"/>
			<result property="jflag" column="jflag"/>
		</association>
	</resultMap>
	<sql id="emp_select">
		e.empid,e.ename,e.sex,e.salary,d.dname,m.ename as mname,j.jname,j.jlevel
	</sql>
	<select id="getEmpInfoList" resultMap="emp_map">
		select <include refid="emp_select"></include>
			from employees e 
				left join departments d on(e.deptid = d.deptid)
				left join jobs j on(e.jobid = j.jobid)
				left join employees m on(d.managerid = m.empid)
	</select>
	
	<select id="getEmpInfoList2" resultType="com.neuedu.po.MyEmpPO">
		select <include refid="emp_select"></include>
			from employees e 
				left join departments d on(e.deptid = d.deptid)
				left join jobs j on(e.jobid = j.jobid)
				left join employees m on(d.managerid = m.empid)
	</select>
	<select id="getEmpListBySearch" resultMap="emp_map" parameterType="com.neuedu.vo.SearchVO">
		select * from employees 
		<where>
			<if test="ename != null and ename != ''">
				and ename like '%${ename}%'
			</if>
			<if test="sdate != null">
				and hiredate >= #{sdate}
			</if>
			<if test="edate != null">
				and hiredate &lt;= #{edate}
			</if>
		</where>
	</select>
	-->
</mapper>